configuration {
    show-icons: true;
    icon-theme: "Papirus-Dark";
}

* {
    bg:      #181818;
    bg1:     #282828;
    bg2:     #453d41;
    fg:      #e4e4ef;
    yellow:  #ffdd33;
    green:   #73c936;
    red:     #f43841;
    brown:   #cc8c3c;
    niagara: #96a6c8;
    quartz:  #95a99f;

    background-color: transparent;
    text-color: @fg;
}

window {
    background-color: @bg;
    border: 2px;
    border-color: @bg2;
    padding: 12px;
}

mainbox {
    spacing: 8px;
}

inputbar {
    background-color: @bg1;
    padding: 8px 10px;
    children: [ prompt, entry ];
    spacing: 8px;
}

prompt {
    text-color: @yellow;
}

entry {
    text-color: @fg;
    cursor-color: #ffdd33;
    cursor-width: 8px;
    placeholder: "search";
    placeholder-color: @quartz;
}

listview {
    spacing: 2px;
    lines: 12;
}

element {
    padding: 6px 8px;
}

element selected {
    background-color: @bg2;
    text-color: @yellow;
}

element-text {
    text-color: inherit;
}

element-icon {
    size: 1.4em;
    padding: 0 4px 0 0;
}

element-text {
    text-color: inherit;
    vertical-align: 0.5;
}
